@import "../../variables.scss";

.container {
	max-width: 70%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 3rem;

	.product-link {
		text-decoration: none;
	}

	.products {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		height: 450px;
		color: $primary-color;
		@extend %border;
		padding: 10px;
		position: relative;

		.image-box {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 250px;
				max-width: 100%;
				display: block; /* corrected */
			}
		}

		.product-bottom {
			display: flex;
			flex-direction: column;
			margin-top: 0.7rem;
			flex-wrap: wrap;

			.bottom-top {
				display: flex;
			}

			h5 {
				font-weight: 100;
				white-space: wrap; /* corrected to wrap */
				margin: 0;
				font-size: 0.9rem;

				span {
					font-weight: bold;
				}
			}
		}

		&:hover {
			cursor: pointer;
			box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

			.product-button {
				background-color: $button-color;
			}
		}
	}
}

.product-button {
	width: 80%;
	padding: 10px 20px;
	color: white;
	font-weight: 700;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: absolute;
	bottom: 20px;
	left: 10%;
	transition: transform 0.2s ease;
	&:active {
		transform: scale(0.95); /* Tıklama sırasında boyutunu küçült */
	}
}
