@import "../../variables.scss";
@import "../../breakpoints.scss";

.filter-container {
	--sb-track-color: #232e33;
	--sb-thumb-color: #ddd;
	--sb-size: 14px;
	height: 100vh;
	width: inherit;
	overflow-y: auto;
	background-color: #fff;
	padding: 25px 45px 25px 25px;
	box-shadow: 2px 0 5px rgba(221, 173, 173, 0.1);
	color: $primary-color;
	@extend %border;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	text-wrap: nowrap;
	overflow-x: hidden;
	.filter-container::-webkit-scrollbar-track {
		border-radius: 4px;
	}

	.filter-container::-webkit-scrollbar-thumb {
		border-radius: 3px;
	}

	.items {
		width: fit-content;
		border: 1px solid transparent;
		display: flex;
		gap: 5px;
		margin: 5px;
		cursor: pointer;
		padding: 5px;
		font-size: 0.7rem;

		&:hover {
			border: 1px solid #dedede;
			background-color: #dedede;
			border-radius: 0.5rem;
		}
		label,
		input {
			cursor: pointer;
		}
	}
}

@include mediaQuery(768px) {
	.filter-container {
		padding: 10px 30px 10px 10px;
		.items label {
			font-size: 0.5rem;
		}
	}
}
