@import "../../variables.scss";
@import "../../breakpoints.scss";
.detail-container {
	width: 100%;
	padding: 2rem;
	display: flex;
	gap: 3rem;
	text-wrap: nowrap;

	.left-container {
		display: flex;
		flex: 1;
		border: 1px solid #ccc;
		border-radius: 15px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s ease-in-out;
		height: 500px;

		img {
			width: 500px;
			max-height: 1000px;
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			width: 40px;
			font-size: 1rem;
			font-weight: 100;
			border-radius: 50%;
			align-self: center;

			span {
				opacity: 0.7;
			}
		}

		button {
			background-color: #f0f0f0;
			border: none;
			padding: 10px;
			cursor: pointer;

			&:hover {
				background-color: #ccc;
			}
		}
	}

	.right-container {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.brand {
			font-size: 1.1rem;
			font-weight: bold;

			.title {
				font-weight: 100;
			}
		}

		.rating-title {
			font-weight: bold;
		}

		.rating {
			background-color: #36b23e;
			border-radius: 5px;
			padding: 3px;
			color: #fff;
		}

		.original-price {
			opacity: 0.7;
			font-size: 1.3rem;
		}

		.discounted-price {
			margin-top: -20px;
			font-size: 2rem;
		}

		.profit {
			margin-left: 3rem;
			background-color: rgba(90, 211, 99, 0.3);
			padding: 5px;
			border-radius: 5px;
		}

		.run-out {
			margin-bottom: -30px;
			padding: 10px;
			max-width: fit-content;
			color: $font-color;
			font-weight: bold;
			background-color: rgba($color: red, $alpha: 0.7);
			padding: 5px;
			border-radius: 5px;
			font-size: 0.9rem;
		}

		.product-button-detail {
			background-color: $HepsiColor;
			padding: 12px;
			color: white;
			font-weight: 700;
			font-size: 1rem;
			border: none;
			border-radius: 15px;
			cursor: pointer;
			transition: transform 0.2s ease;
			&:active {
				transform: scale(0.95); /* Tıklama sırasında boyutunu küçült */
			}
		}
	}
	.empty {
		flex: 1;
	}
}
